{% extends "base.html" %}
{% block content %}
<h1>My Bookings</h1>

{% if past_bookings %}
    <h2>Past Bookings</h2>
    <ul>
        {% for booking in past_bookings %}
            <li>
                <strong>{{ booking.studio_class.title }}</strong><br>
                Date: {{ booking.studio_class.date }}<br>
                Instructor: {{ booking.studio_class.instructor }}<br>
                Status: {{ booking.get_status_display }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no past bookings.</p>
{% endif %}


{% if upcoming_bookings %}
    <h2>Upcoming Bookings</h2>
    <ul>
        {% for booking in upcoming_bookings %}
            <li>
                <strong>{{ booking.studio_class.title }}</strong><br>
                Date: {{ booking.studio_class.date }}<br>
                Instructor: {{ booking.studio_class.instructor }}<br>
                Status: {{ booking.get_status_display }}
            </li>
        {% endfor %}
    </ul>  
{% else %}
    <p>You have no bookings yet.</p>
{% endif %}

{% endblock %}