{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
    <section class="class-hero-section py-20 text-white">
  <div class="container text-center">
    <h1 class="class-hero-title mb-6">
      Our Courses
    </h1>
    <p class="class-hero-subtitle max-w-2xl mx-auto">
      Find the perfect course to express your creativity. From pottery to printmaking, 
      we have something for every artist.
    </p>
  </div>
</section>
    <h2 class="mb-4">Classes</h2>
    <div class="filter-bar">
         <a href="?" class="filter-btn">All Classes</a>
           {% for category in filter_categories %}
            <a href="?class_type={{ category.slug }}" class="filter-btn">
            {{ category.name }}
        </a>
    {% endfor %}
    <form action="{% url 'class_list' %}" method="get">
            <input name="search" type="text" placeholder="Search...">
        </form>
    </div>

    {% if class_list %}
    <div class="row g-4 ">

        {% for class in class_list %}
        <div class="col-md-6 col-lg-4">
            <div class="card course-card  h-100 shadow-sm">

                {% if class.image %}
                <img src="{{ class.image.url }}" class="course-card img" alt="{{ class.title }}">
                {% endif %}

                <div class="course-card card-content">
                    <h5 class="course-title">{{ class.title }}</h5>

                    <p class="mb-1"><strong>Category:</strong> {{ class.category.name }}</p>
                    <p class="mb-1"><strong>Instructor:</strong> {{ class.instructor }}</p>
                    <p class="mb-1"><strong>Date:</strong> {{ class.date }}</p>
                    <p class="mb-1"><strong>Price:</strong> £{{ class.price }}</p>
                    <p class="mb-3"><strong>Spots Remaining:</strong> {{ class.spots_remaining }}</p>

                    <a href="{% url 'class_details' class.slug %}" class="btn btn-primary w-100">
                        View Details
                    </a>
                </div>

            </div>
        </div>
        {% endfor %}

    </div>

    {% else %}
    <p>No classes available at the moment. Please check back later.</p>
    {% endif %}

</div>

<script>
const buttons = document.querySelectorAll(".filter-btn");

buttons.forEach(btn => {
    btn.addEventListener("click", () => {
        document.querySelector(".filter-btn.active")
            ?.classList.remove("active");

        btn.classList.add("active");
    });
});
</script>
{% endblock %}


